.About{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.Created{
  margin-top: 2%;
  margin-left: 3%;
}
.Colors{
  margin-top: 5%;
  margin-left: 3%;
}
.Colors h1{
  margin-top: 0%;
  font-weight: 570;
  font-size: 48px;
  margin-left: 5%;
  color: #E01E5A;
}
.Colors p1{
  font-weight: 570;
  margin-top: 0%;
  font-size: 20px;
  margin-left: 5%;
  color: #666666;
}
.btm img{
  margin-left: 5%;
  margin-top: 3%;
  width: 40%;
  height: 35.63px;
  left: 0px;
  top: 858px;
}
.rightside {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: left;
  align-items: left;
  margin-top: 3%;
  margin-left: 3%;


}
.leftside {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: left;
  align-items: left;
  margin-top: 3%;
  margin-left: 3%;
}

.leftside h1 {
  margin-top: 0%;
  font-weight: 670;
  font-size: 48px;
  margin-left: 7%;
  color: black;
}

  .Created{
    margin-top: 1%;
    margin-left: 3%;
  }
.Colors{
    margin-top: 7%;
    margin-left: 3%;
}
.Colors h1{
    margin-top: 0%;
    font-weight: 570;
    font-size: 48px;
    margin-left: 3%;
    color: #E01E5A;
}
.Colors p1{
    font-weight: 570;
    margin-top: 0%;
    font-size: 20px;
    margin-left: 5%;
    color: #666666;
}
.btm img{
    margin-left: 10%;
    margin-top: 3%;
    width: 40%;
    height: 35.63px;
    left: 0px;
    top: 858px;
}
.polaroid {
  border-radius: 10px;
  margin-left: 27%;
  width: 35%;
  background-color: whitesmoke;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Mile img {width: 100%;border-radius: 10px;}

.container {
  text-align: center;
  padding: 10px 20px;
}
.container span{
  margin-right: 12.5%;
}



.polaroid2 {
  border-radius: 10px;
  margin-left: 27%;
  margin-top: 40px;

  width: 35%;
  background-color: whitesmoke;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Preme img {width: 100% ;
  border-radius: 10px;}

.container2 {
  text-align: center;
  padding: 10px 10px;
}
.container2 span{
  margin-right: 0%;
}
