.Login {
  width: 100%;
  height: 90vh;
  display: flex;
  }
.LoginBox{
  background-color: white;
  border-radius: 14%;
  height: 100%;
  margin: 3%;
  margin-left: 7%;
  flex: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
  .logintext {
  height: 100%;
  flex: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  }

  .logintext h1 {
    font-weight: 570;
    font-size: 48px;
    margin-left: 20%;
    color: #E01E5A;

  }
  .logintext h2 {
    margin-top: 10%;
    font-weight: 570;
    font-size: 48px;
    margin-left: 20%;
    color: #2EB67D;
  }

  .logintext h3 {
    margin-top: 10%;
    font-weight: 570;
    font-size: 48px;
    margin-left: 20%;
    
    color: #ECB22E;
  }


.LoginBox h1{
    margin-left: 38%;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;

    color: #DB4437;
}
input[type=text] {
  padding: 0 5px 0 15px;
  margin-left: 50px;
  margin-top: 10px;
  width: 80%;
height: 51px;

background: rgba(204, 204, 204, 0.6);
opacity: 0.8;
border-radius: 12px;
  }

input[type=password] {
padding: 0 5px 0 15px;
margin-top: 10px;
margin-left: 50px;
width: 80%;
height: 51px;

background: rgba(204, 204, 204, 0.6);
opacity: 0.8;
border-radius: 12px;
  }

.Loginbtn {
  border-radius: 15px;
  margin-left: 9%;
  margin-top: 5%;
  width: 80%;
  height: 50px;
  border: none;
  background-color: #00cc44;
  color: whitesmoke;
  font-size: 25px;
  font-weight: 700;

  }

  p{
  margin-left: 33% ;
  width: 239px;
  height: 36px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  color: #B2B2B2;
  }
  .Registbtn{
    width: 172px;
    height: 54px;
    border: none;
    background: #A8EC8A;
    border-radius: 12px;
    margin-left: 34%;
    width: 172px;
    height: 54px;
    left: 925px;
    top: 633px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
  }
  form {
    margin-left: 0%;
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    padding: 10px;
  }
  form label  {
    margin-left:  30px; ;
    font-weight: 530;
    margin-top: 10px;
    color: black;
  }


