.componentmain{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.componentmain .leftside{
    text-align: center;
    background-color: #E57C73;
    width: 500px;
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center
}
.componentmain .rightside{
    width: 70%;
    border-radius: 1%;
    margin-right: 5%;
    margin-top: 5%;
    text-align: center;
    width: 70%;
    height: 50%;
    background-color: #E57C73;
}
.componentmain .rightside .calendar{
    margin-top: 5%;
    background-color: #ffff;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}



.Subject {
    border-radius: 10px;
    margin-left: 2%;
    margin-top: 30px;
    text-align: center;
    width: 70%;
    height: 40%;
    background-color: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

.Subject h1 {
    font-size: 350%;
    text-align: center;
    margin-top: 5%;
    font-weight: 570;
    font-size: 48px;
    margin-left: 3%;
    color: #E01E5A;
}


.Subject h1 {
    font-size: 350%;
    text-align: center;
    margin-top: 5%;
    font-weight: 570;
    font-size: 48px;
    margin-left: 3%;
    color: #4C4C4C;
}

.Riminder {
    border-radius: 10px;
    margin-left: 2%;
    text-align: center;
    margin-top: 30px;
    width: 70%;
    height: 40%;
    background-color: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .Riminder h1 {
    font-size: 350%;
    text-align: center;
    margin-top: 5%;
    font-weight: 570;
    font-size: 48px;
    margin-left: 3%;
    color: #4C4C4C;
}